<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Info</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  <!--
  <script src="script.js"></script> -->
</head>
<body>
	<h1>Vos informations</h1>
	<table>
		<tr>
			<td>Description</td>
			<td>"description"</td>
		</tr>
		<tr>
			<td>Heure de début</td>
			<td>"Heure debut activite"</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>"Date"</td>
		</tr>
		<tr>
			<td>Durée</td>
			<td>"Durée"</td>
		</tr>
		<tr>
			<td>Distance</td>
			<td>"Distance"</td>
		</tr>
		<tr>
			<td>Frequence moyenne</td>
			<td>"freq moyenne"</td>
		</tr>
		<tr>
			<td>Frequence minimale</td>
			<td>"freq minimale"</td>
		</tr>
		<tr>
			<td>Frequence maximale</td>
			<td>"freq maximale"</td>
		</tr>
	</table> <!-- Go plutot mettre ça dans l'autre sens -->
</body>
</html>
