body {
background-color:  rgb(255, 249, 225);
text-align: center;

}

h1 {
  
  text-decoration : underline;
}

iframe {

  border-color : rgb(80, 13, 14)

   
}

p1 {
border-style : solid;
border-width: 1px; 
padding : 7px;
border-color : rgb(0, 0, 0); 
display : block;
margin: auto;

}